name: Build and Push

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    uses: zavestudios/platform-pipelines/.github/workflows/container-build.yml@main
    with:
      image_name: zavestudios/{{ name }}
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
